/* ==========================================================================
   Reset y configuración base
   ========================================================================== */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 100%;
}

body {
   min-height: 100dvh;
   font-family: var(--font-cuerpo);
   color: var(--color-texto);
   line-height: 1.6;
   display: flex;
   flex-direction: column;
}

/* ==========================================================================
   Variables y utilidades
   ========================================================================== */

:root {
   --color-texto: #000;
   --color-texto--header: #008BF8;
   --color-fondo-primario: #008BF8;
   --color-fondo-secundario: #FAFAFA;

   --font-header: "Montserrat", sans-serif;
   --font-cuerpo: "Inter", sans-serif;
}

/* ==========================================================================
   Tipografía
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-header);
   line-height: 1.2;
}

h1 { font-size: 1.75rem; }

/* ==========================================================================
   Layout
   ========================================================================== */

.contenedor {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0 1rem;
}

/* ==========================================================================
   Componentes
   ========================================================================== */

/* ### Header ### */

header {
   height: 4rem;
   color: var(--color-texto--header);
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ### Section para configuración de el generador ### */

#wrapper-configuracion {
   background-color: var(--color-fondo-secundario);
   order: 1;
}

#wrapper-configuracion form {
   width: 80%;
   max-width: 75rem;
   margin: 0 auto;
}

#wrapper-configuracion ul {
   height: 5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

#wrapper-configuracion ul div {
   display: flex;
   gap: 3rem;
}

#wrapper-configuracion ul div li {
   position: relative;
}

#wrapper-configuracion ul div li label {
   position: absolute;
   font-family: var(--font-header);
   font-size: .7rem;
   text-transform: uppercase;
   color: rgba(0, 0, 0, .3);
   top: -1rem;
}

#wrapper-configuracion select {
   padding: .5rem 1rem;
   border-radius: 1rem;
   background-color: transparent;
   border: 1px solid #ccc;
}

#boton-generar {
   padding: .5rem 1rem;
   border-radius: 1rem;
   background-color: var(--color-fondo-primario);
   color: white;
   font-weight: 600;
   border: none;
   cursor: pointer;
   transition: 200ms;
}

#boton-generar:hover {
   background-color: hsl(206, 100%, 40%);
}

/* ### Contenedor de la paleta de colores ### */

#wrapper-paleta-colores {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
}

.wrapper-color {
   min-height: 3.5rem;
   flex-grow: 1;
   width: 100%;
   padding: 0 2rem;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.color__formato-texto {
   font-size: 1rem;
   font-weight: 600;
}

.btn-copiar {
   background-color: transparent;
   border: none;
   padding: .5rem;
   border-radius: .75rem;
   cursor: pointer;
   transition: 200ms;
}

.btn-copiar:hover {
   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
}

.btn-copiar svg {
   display: block;
   width: 1rem;
   height: 1rem;
}

/* ==========================================================================
   Utilidades y helpers
   ========================================================================== */



/* ==========================================================================
   Media queries (responsive)
   ========================================================================== */

@media (min-width: 768px) {
   h1 { font-size: 2.5rem; }

   #wrapper-configuracion {
      order: unset;
      border-top: 1px solid #ccc;
   }

   #wrapper-paleta-colores {
      flex-direction: row;
   }

   .wrapper-color {
     flex-direction: column-reverse;
     justify-content: end;
     padding-bottom: 5rem;
     gap: 1rem;
   }
}
